<html>
	<head>
		<link rel="stylesheet" href="/main.css" />
		<style>
			
			button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 8px;
  
}

		</style>
	</head>
	<body style="padding: 20% 20% 20% 40%;">
		<p >
		<form action="http://localhost:8081/add">
			<button type="submit">Enter Website</button>
		</form>
	</p>
	</body>
</html>